name: covidcare
description: A new Flutter application.

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.3
  curved_navigation_bar: ^0.3.3
  url_launcher: null
  shared_preferences: null
  http: null
  dynamic_theme: null
  webview_flutter: ^0.3.20
  flutter_launcher_icons: ^0.8.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/images/
flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/icon.jpg"